# Build results
/[Dd]ebug/
/[Dd]ebugPublic/
/[Rr]elease/
/[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific folders
[Cc]ustom[Dd]ictionary/
/_ReSharper/
/ReSharper/
*.resharper
[Tt]est[Rr]esult/
[Bb]uild[Ll]og.*

# Visual Studio 2015 cache/options
.vs/   